In [2]:
#import libraries
import pandas as pd
import numpy as np
#load datasets
cases = pd.read_csv("covid_19_india.csv")
testing = pd.read_csv("StatewiseTestingDetails.csv")
vaccine = pd.read_csv("covid_vaccine_statewise.csv")

In [25]:
#data understanding
cases.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Recovery_Rate,Death_Rate
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1,0.0,0.0
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1,0.0,0.0
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2,0.0,0.0
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3,0.0,0.0
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3,0.0,0.0

In [26]:
#data understanding
testing.head()

,Date,State,TotalSamples,Negative,Positive,Positivity_Rate
0,2020-04-17,Andaman and Nicobar Islands,1403.0,1210,12.0,0.008553
1,2020-04-24,Andaman and Nicobar Islands,2679.0,NaN,27.0,0.010078
2,2020-04-27,Andaman and Nicobar Islands,2848.0,NaN,33.0,0.011587
3,2020-05-01,Andaman and Nicobar Islands,3754.0,NaN,33.0,0.008791
4,2020-05-16,Andaman and Nicobar Islands,6677.0,NaN,33.0,0.004942

In [27]:
#data understanding
vaccine.head()

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated,Fully_Vaccinated
0,2021-01-16,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0,0.0
1,2021-01-17,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0,0.0
2,2021-01-18,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0,0.0
3,2021-01-19,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0,0.0
4,2021-01-20,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0,0.0

In [28]:
#shape 
print("Cases:", cases.shape)
print("Testing:", testing.shape)
print("Vaccine:", vaccine.shape)

Cases: (18110, 11)
Testing: (16336, 6)
Vaccine: (7845, 25)

In [39]:
#standardize column name as state which in cases is state/unionterritory
#renaming colummn -cases.rename(columns={'State/UnionTerritory':'State'}, inplace=True)

cases.rename(columns={
    'State/UnionTerritory': 'State',
    'Date': 'Date'
}, inplace=True)

In [30]:
cases.columns

Index(['Sno', 'Date', 'Time', 'State', 'ConfirmedIndianNational',
       'ConfirmedForeignNational', 'Cured', 'Deaths', 'Confirmed',
       'Recovery_Rate', 'Death_Rate'],
      dtype='object')

In [7]:
#check missing values 
cases.isna().sum()

Sno                         0
Date                        0
Time                        0
State/UnionTerritory        0
ConfirmedIndianNational     0
ConfirmedForeignNational    0
Cured                       0
Deaths                      0
Confirmed                   0
dtype: int64

In [10]:
#check missing values 
testing.isna().sum()

Date                0
State               0
TotalSamples        0
Negative         9367
Positive        10674
dtype: int64

In [11]:
#check missing values 
vaccine.isna().sum()

Updated On                                0
State                                     0
Total Doses Administered                224
Sessions                                224
 Sites                                  224
First Dose Administered                 224
Second Dose Administered                224
Male (Doses Administered)               384
Female (Doses Administered)             384
Transgender (Doses Administered)        384
 Covaxin (Doses Administered)           224
CoviShield (Doses Administered)         224
Sputnik V (Doses Administered)         4850
AEFI                                   2407
18-44 Years (Doses Administered)       6143
45-60 Years (Doses Administered)       6143
60+ Years (Doses Administered)         6143
18-44 Years(Individuals Vaccinated)    4112
45-60 Years(Individuals Vaccinated)    4111
60+ Years(Individuals Vaccinated)      4111
Male(Individuals Vaccinated)           7685
Female(Individuals Vaccinated)         7685
Transgender(Individuals Vaccinated)    7685
Total Individuals Vaccinated           1926
dtype: int64

In [34]:
#check missing values 
cases.duplicated().sum()

np.int64(0)

In [35]:
#remove duplicates
cases.drop_duplicates(inplace=True)
testing.drop_duplicates(inplace=True)
vaccine.drop_duplicates(inplace=True)

In [36]:
cases.duplicated().sum()

np.int64(0)

In [33]:
#fill missing values 
cases[['Confirmed','Deaths','Cured']] = cases[['Confirmed','Deaths','Cured']].fillna(0)
testing[['TotalSamples','Negative','Positive']] = testing[['TotalSamples','Negative','Positive']].fillna(0)
numeric_cols = vaccine.select_dtypes(include='number').columns
vaccine[numeric_cols] = vaccine[numeric_cols].fillna(0)

In [12]:
#date column cleaning 
cases['Date'] = pd.to_datetime(cases['Date'], errors='coerce')
testing['Date'] = pd.to_datetime(testing['Date'], errors='coerce')
vaccine['Updated On'] = pd.to_datetime(vaccine['Updated On'], errors='coerce')

C:\Users\pc\AppData\Local\Temp\ipykernel_14208\763344321.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  vaccine['Updated On'] = pd.to_datetime(vaccine['Updated On'], errors='coerce')

In [14]:
#recovery and death rate 
cases['Recovery_Rate'] = cases['Cured'] / cases['Confirmed']
cases['Death_Rate'] = cases['Deaths'] / cases['Confirmed']

In [15]:
#month wise total confirmed cases 
cases.groupby(cases['Date'].dt.month)['Confirmed'].sum()

Date
1     326469749
2     305631889
3     356315303
4     441083113
5     754865720
6     895231838
7     993362865
8     431100375
9     149113758
10    226770312
11    264556412
12    307177353
Name: Confirmed, dtype: int64

In [17]:
#state wise total confirmed cases
cases.groupby('State/UnionTerritory')['Confirmed'].sum().sort_values(ascending=False)

State/UnionTerritory
Maharashtra                                 1121491467
Karnataka                                    485970693
Kerala                                       458906023
Tamil Nadu                                   431928644
Andhra Pradesh                               392432753
Uttar Pradesh                                312625843
Delhi                                        287227765
West Bengal                                  263107876
Chhattisgarh                                 163776262
Rajasthan                                    162369656
Odisha                                       160130533
Gujarat                                      143420082
Madhya Pradesh                               135625265
Haryana                                      134347285
Bihar                                        132231166
Punjab                                        99949702
Assam                                         99837011
Telengana                                     69990668
Jharkhand                                     62111994
Telangana                                     60571979
Jammu and Kashmir                             58117726
Uttarakhand                                   53140414
Himachal Pradesh                              30033289
Goa                                           28240159
Puducherry                                    20065891
Tripura                                       14050250
Manipur                                       12617943
Chandigarh                                    10858627
Meghalaya                                      7355969
Arunachal Pradesh                              7176907
Maharashtra***                                 6229596
Nagaland                                       5041742
Ladakh                                         4054293
Sikkim                                         3186799
Mizoram                                        2984732
Karanataka                                     2885238
Dadra and Nagar Haveli and Daman and Diu       1938632
Andaman and Nicobar Islands                    1938498
Bihar****                                      1430909
Lakshadweep                                     915784
Madhya Pradesh***                               791656
Cases being reassigned to states                345565
Himanchal Pradesh                               204516
Dadra and Nagar Haveli                           20722
Unassigned                                         161
Daman & Diu                                          2
Name: Confirmed, dtype: int64

In [38]:
#why positivity rate matters 
#testing['Positivity_Rate'] = testing['Positive'] / testing['TotalSamples']
testing['Positivity_Rate'] = np.where(
    testing['TotalSamples'] > 0,
    testing['Positive'] / testing['TotalSamples'],
    0
)

In [20]:
#fully vaccinated = 2nd dose completed
vaccine['Fully_Vaccinated'] = vaccine['Second Dose Administered']
#gender coverage
vaccine['Gender_Coverage'] = vaccine['Male Doses'] + vaccine['Female Doses'] + vaccine['Transgender Doses']

In [37]:
#recovery or death rate 
cases['Recovery_Rate'] = np.where(
    cases['Confirmed'] > 0,
    cases['Cured'] / cases['Confirmed'],
    0
)

cases['Death_Rate'] = np.where(
    cases['Confirmed'] > 0,
    cases['Deaths'] / cases['Confirmed'],
    0
)

In [40]:
#time based analysis 
cases = cases.sort_values('Date')

In [41]:
#daily confirmed cases 
daily_cases = cases.groupby('Date')['Confirmed'].sum().reset_index()
daily_cases.head()

        Date  Confirmed
0 2020-01-30          1
1 2020-01-31          1
2 2020-02-01          2
3 2020-02-02          3
4 2020-02-03          3

In [42]:
#monthly confirmed cases 
monthly_cases = (
    cases
    .groupby(cases['Date'].dt.to_period('M'))['Confirmed']
    .sum()
    .reset_index()
)

monthly_cases['Date'] = monthly_cases['Date'].astype(str)
monthly_cases.head()

      Date  Confirmed
0  2020-01          2
1  2020-02         86
2  2020-03       9687
3  2020-04     422442
4  2020-05    2938234

In [43]:
daily_cases.to_csv("daily_confirmed_cases.csv", index=False)
monthly_cases.to_csv("monthly_confirmed_cases.csv", index=False)

In [46]:
#state wise analysis 
#total cases by state 
state_cases = (
    cases
    .groupby('State')['Confirmed']
    .sum()
    .reset_index()
    .sort_values(by='Confirmed', ascending=False)
)

state_cases.head(5)

             State   Confirmed
27     Maharashtra  1121491467
21       Karnataka   485970693
22          Kerala   458906023
38      Tamil Nadu   431928644
1   Andhra Pradesh   392432753

In [45]:
#state wise death rate 
state_death_rate = (
    cases
    .groupby('State')
    .agg({
        'Deaths':'sum',
        'Confirmed':'sum'
    })
    .reset_index()
)

state_death_rate['Death_Rate'] = (
    state_death_rate['Deaths'] /
    state_death_rate['Confirmed']
)

state_death_rate.sort_values('Death_Rate', ascending=False).head()

             State    Deaths   Confirmed  Death_Rate
35          Punjab   2785594    99949702    0.027870
27     Maharashtra  23737432  1121491467    0.021166
28  Maharashtra***    130753     6229596    0.020989
44     Uttarakhand    986001    53140414    0.018555
12           Delhi   4943294   287227765    0.017210

In [47]:
state_cases.to_csv("state_wise_total_cases.csv", index=False)
state_death_rate.to_csv("state_wise_death_rate.csv", index=False)

In [48]:
#merging 
vaccine.rename(columns={'Updated On': 'Date'}, inplace=True)

In [49]:
#merge cases and testing
cases_testing = pd.merge(
    cases,
    testing,
    on=['State', 'Date'],
    how='left'
)

cases_testing.head()

,Sno,Date,Time,State,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Recovery_Rate,Death_Rate,TotalSamples,Negative,Positive,Positivity_Rate
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1,0.0,0.0,NaN,NaN,NaN,NaN
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1,0.0,0.0,NaN,NaN,NaN,NaN
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2,0.0,0.0,NaN,NaN,NaN,NaN
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3,0.0,0.0,NaN,NaN,NaN,NaN
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3,0.0,0.0,NaN,NaN,NaN,NaN

In [50]:
#merged with vaccine data
full_data = pd.merge(
    cases_testing,
    vaccine,
    on=['State', 'Date'],
    how='left'
)

full_data.head()

,Sno,Date,Time,State,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Recovery_Rate,...,45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated,Fully_Vaccinated
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
full_data.to_csv("covid_full_merged_data.csv", index=False)

In [53]:
#vaccination impact vs cases 
#mmonthly vaccination vs cases 
monthly_vaccine_cases = (
    full_data
    .groupby(full_data['Date'].dt.to_period('M'))
    .agg({
        'Confirmed': 'sum',
        'Second Dose Administered': 'sum'
    })
    .reset_index()
)

monthly_vaccine_cases['Date'] = monthly_vaccine_cases['Date'].astype(str)
monthly_vaccine_cases.head()
#save vaccination vs cases csv file
monthly_vaccine_cases.to_csv(
    "monthly_vaccination_vs_cases.csv",
    index=False
)

In [54]:
#positivity rate
#statewise positivity rate 
state_positivity = (
    testing
    .groupby('State')
    .agg({
        'Positive': 'sum',
        'TotalSamples': 'sum'
    })
    .reset_index()
)

state_positivity['Positivity_Rate'] = (
    state_positivity['Positive'] /
    state_positivity['TotalSamples']
)

state_positivity.sort_values(
    'Positivity_Rate',
    ascending=False
).head()

,State,Positive,TotalSamples,Positivity_Rate
32,Tripura,12630766.0,2.467333e+08,0.051192
7,Dadra and Nagar Haveli and Daman and Diu,169010.0,6.324267e+06,0.026724
26,Puducherry,6287323.0,2.383986e+08,0.026373
14,Jharkhand,51696495.0,2.053512e+09,0.025175
0,Andaman and Nicobar Islands,1763591.0,8.747008e+07,0.020162

In [55]:
#save positivity report 
state_positivity.to_csv(
    "state_wise_positivity_rate.csv",
    index=False
)

In [58]:
#advanced level
#active cases 
cases['Active_Cases'] = (
    cases['Confirmed'] -
    cases['Cured'] -
    cases['Deaths']
)

In [59]:
#daily new cases - identifies spikes 
cases = cases.sort_values(['State', 'Date'])

cases['Daily_New_Cases'] = (
    cases.groupby('State')['Confirmed']
    .diff()
    .fillna(0)
)

In [60]:
#7 day rolling average 
cases['7Day_Avg_New_Cases'] = (
    cases.groupby('State')['Daily_New_Cases']
    .rolling(7)
    .mean()
    .reset_index(level=0, drop=True)
)

In [61]:
#case fatality rate
cases['Case_Fatality_Rate'] = np.where(
    cases['Confirmed'] > 0,
    cases['Deaths'] / cases['Confirmed'],
    0
)

In [62]:
#vaccination coverage 
vaccine['Vaccination_Coverage'] = np.where(
    vaccine['Total Doses Administered'] > 0,
    vaccine['Second Dose Administered'] /
    vaccine['Total Doses Administered'],
    0
)

In [63]:
#testing intensity 
testing['Tests_Per_Positive'] = np.where(
    testing['Positive'] > 0,
    testing['TotalSamples'] / testing['Positive'],
    0
)

In [64]:
#growth rate(month over month )
monthly_cases['MoM_Growth_Rate'] = (
    monthly_cases['Confirmed']
    .pct_change()
    .fillna(0)
)